.fade(flash-alert='error', active-class='in alert-flash')
	button.close(type='button', ng-click='hide()') ×
	strong.alert-heading Thông báo!
	span.alert-message {{flash.message}}
.fade(flash-alert='success', active-class='in alert-flash')
	button.close(type='button', ng-click='hide()') ×
	strong.alert-heading Thông báo!
	span.alert-message(ng-bind-html='flash.message')
footer
	section.copyright
		.container
			.row
				.col-sm-6.col-md-6  Copyright ©2015 all rights reserved
				.text-right.col-sm-6.col-md-6
					| Designed by
					a
					| &nbsp An Huynh
div#ngProgress-container.ng-scope
	div#ngProgress(style="height: 2px; color: rgb(178, 34, 34); width: 0%; opacity: 1; background-color: rgb(178, 34, 34);")
script(src='/libs/jquery/dist/jquery.js')
script(src='/libs/angular/angular.js')
script(src='/libs/ngprogress/build/ngprogress.js')
script(src='/libs/angular-ui-router/release/angular-ui-router.js')
script(src='/libs/oclazyload/dist/ocLazyLoad.js')
script(src='/libs/angular-sanitize/angular-sanitize.js')
script(src='/libs/angular-cookies/angular-cookies.min.js')
script(src='/libs/angular-flash/dist/angular-flash.min.js')
script(src='/libs/restangular/dist/restangular.min.js')
script(src='/libs/angular-animate/angular-animate.min.js')
script(src='/libs/angular-resource/angular-resource.min.js')
script(src='/libs/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='/libs/ng-file-upload/ng-file-upload.min.js')
script(src='/libs/ng-file-upload/ng-file-upload-shim.min.js')
script(src='/libs/ng-tags-input/ng-tags-input.js')
script(src='/libs/uiBreadcrumbs/uiBreadcrumbs.js')
script(src='/libs/bootstrap/dist/js/bootstrap.js')
script(src='/libs/textAngular/js/textAngular-rangy.min.js')
script(src='/libs/textAngular/js/textAngular-sanitize.min.js')
script(src='/libs/textAngular/js/textAngular.min.js')

script(src='/mainCtrl.js')
script(src='/modal/controllers/modalCtrl.js')
script(src='/home/controllers/homeCtrl.js')
script(src='/user/controllers/userCtrl.js')
script(src='/user/services/userService.js')
script(src='/article/controllers/articleCtrl.js')
script(src='/article/services/articleService.js')
script(src='/comment/controllers/commentCtrl.js')
script(src='/comment/services/commentService.js')

script(src='/app.js')
script(src='/services.js')
script(src='/filters.js')
script(src='/appRoutes.js')
