head
    base(href="/")
    title(ng-bind='pageTitle')
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="fragment" content="!")
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    // link(rel='stylesheet', href='/stylesheets/flexslider.css')
    link(rel='stylesheet', href='/libs/ngprogress/ngProgress.css')
    link(rel='stylesheet', href='/libs/ng-tags-input/ng-tags-input.css')
    link(rel='stylesheet', href='/libs/textAngular/css/textAngular.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')