.modal-header
	| Thay đổi ảnh đại diện
.modal-body
	.alert.alert-warning.alert-dismissable(ng-show='showAlert')
		button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
		| Tập tin có dung lượng tối đa là 1M, bạn vui lòng chọn hình ảnh khác
	img.img-responsive.center-block(ng-src='images/uploads/users/{{imgUrl}}', alt='Avatar', ng-hide='showUpload', style='max-width:200px;')
	.form-group
		label(for='userPhoto') Tải lên một hình ảnh
		input(type='file', ngf-select='uploadFiles($files)', accept='image/*', value='Chọn tập tin hình ảnh', name='avatar', ng-show='showUpload')
		p.help-block
			| Bạn chỉ có thể tải lên được các file PNG, JPG hoặc GIF 
			span#file-size-block
				| (tối đa 
				span#upload-file-size 1
				|  MB.)
	.progress.progress-striped(style='border-radius:0px;margin-top:10px;')
		.progress-bar(role='progressbar', aria-valuemin='0', aria-valuemax='100', style='width: {{uploadper}}%')
			| {{uploadper}}%
.modal-footer(style='margin-top:0px;')
	button.btn.btn-submit(ng-click='ok()', ng-disabled='showUpload') OK
	button.btn.btn-warning(ng-click='cancel()') Cancel